* {
	box-sizing: border-box;
	margin: 0;
}

@font-face{
	font-family:'lato';
	src: url('/fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family:'lato';
	src: url('/fonts/Lato-BoldItalic.ttf') format('truetype');
	font-weight:bold; font-style: italic;
}
@font-face{
	font-family:'lato';
	src: url('/fonts/Lato-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style: normal;
}

body {
	background-color: var(--pageBg);
	color: var(--pageFg);
	font-family: 'lato';
	font-size: 18px;
	margin: 0;
}

.text-center {
	text-align: center;
}

.mono {
    font-family: monospace;
}

.stretched-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Cards */
.card {
	background-color: var(--cardBg);
	border: 1px solid var(--cardBorder);
	border-radius: 5px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 866px;
}
.card-title {
	margin: 0.5em;
}
.card.error {
	background-color: #4B2224;
	border-color: red;
	color: #f9fbf8;
}
.card.modal {
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	z-index: 2;
}
/* End Cards */

/* Links */
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
/* End Links */

/* Forms */
.form-control-container {
	margin: 1em auto;
	position: relative;
	display: flex;
	flex-flow: column;
}
.form-control {
	padding: 0.5em;
	margin: 0.1em 0;
	background-color: var(--formInputBg);
	color: var(--formInputFg);
	outline: none;
	border-radius: 5px;
	font-size: 16px;
	border: 1px solid transparent;
}
.form-control:hover,
.form-control:focus {
	border-color: var(--formInputHighlight);
}
/* End Forms */

/* Buttons */
.btn,
input[type=file]::file-selector-button {
	background-color: var(--btnBg);
	border: 1px solid var(--btnBorder);
	padding: 0.5em;
	color: var(--btnFg);
	border-radius: 5px;
	text-decoration: none;
	margin: 0.1em;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-family: 'lato';
}
/* В полях выбора файла выравнивать всё по левому краю */
input[type=file].btn {
	text-align: left;
}
/* Починка кнопок выбора файла */
input[type=file]::file-selector-button {
	display: inline;
	margin-right: 1em;
}
.btn:hover {
	background-color: var(--btnHoverBg);
	color: var(--btnHoverFg);
}
.btn:active,
.btn:focus,
.btn.selected {
	background-color: var(--btnFocusBg);
	color: var(--btnFocusFg);
}
/* End buttons */

/* Actions grid */
.actions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	margin: 1em auto;
	width: 50%;
	max-width: 768px;
}
.action {
	display: flex;
	flex-flow: column;
	text-align: center;
	position: relative;
	background-color: transparent;
	border-radius: 10px;
	padding: 1em;
	transition: 300ms;
	align-items: center;
	border: 1px solid transparent;
}
.action:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border-color: white;
}
.action > img {
	max-width: 128px;
	min-height: 128px;
	margin-top: 1em;
}
.action > a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}
/* End actions grid */

/* Breadcrumbs */
.breadcrumb {
	padding: 0;
	background-color: var(--crumbsBg);
	position: sticky;
	top: 0;
	z-index: 2;
}
.breadcrumb > ul {
  list-style: none;
  margin: 0;
  padding: 0.25em 1em;
}

.breadcrumb > ul li {
  display: inline;
}

.breadcrumb > ul li+li:before {
  padding: 8px;
  color: var(--pageFg);
  content: "/\00a0";
}

.breadcrumb > ul li a {
	color: var(--crumbsFg);
	text-decoration: none;
}
/* End Breadcrumbs */

/* CRUD */
.crud-item {
	margin: 1rem auto;
	padding: 1em;
	background-color: var(--listBg);
	border: 1px solid var(--listBorder);
	border-radius: 5px;
	display: grid;
	grid-template-columns: 75% 25%;
}

.crud-buttons {
	display: flex;
	flex-direction: column;
}

.crud-buttons .btn {
	margin: 0.1em;
}
/* End CRUD */

.dark-overlay {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

/*===Colors===*/
.danger {
	background-color: var(--destructiveBg);
	border-color: var(--destructiveBorder);
	color: var(--destructiveFg);
}
.btn.danger:hover {
	background-color: var(--destructiveHoverBg);
	color: var(--destructiveHoverFg);
}
.btn.danger:active,
.btn.danger:focus {
	background-color: var(--destructiveFocusBg);
	color: var(--destructiveFocusFg);
}

.success {
	background-color: var(--suggestedBg);
	border-color: var(--suggestedBorder);
	color: var(--suggestedFg);
}
.btn.success:hover {
	background-color: var(--suggestedHoverBg);
	color: var(--suggestedHoverFg);
}
.btn.success:active,
.btn.success:focus {
	background-color: var(--suggestedFocusBg);
	color: var(--suggestedFocusFg);
}

.fg-accent {
	color: var(--accent);
}

.border-accent {
	border-color: var(--accent);
}
/*===/Colors===*/

/*===Sizes===*/
.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-25 {
	width: 25%;
}
/*===/Sizes===*/

/*===Margins for cards===*/
.m-1 {
	margin-top: 1em;
	margin-bottom: 1em;
}
.m-2 {
	margin-top: 2em;
	margin-bottom: 2em;
}
.m-3 {
	margin-top: 3em;
	margin-bottom: 3em;
}
/*===End Margins for cards===*/

/*===Sidebar===*/
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--sidebarBg);
	overflow-x: hidden;
	padding: 0;
	display: flex;
}

.sidebarOpen {
	width: var(--sidebarWidth);
	padding: 0.5em;
}

.contentShifted {
	margin-left: var(--sidebarWidth);
}
/*===End Sidebar===*/

.editor.hidden,
.hidden {
	display: none;
}

/* Ключевое слово в помощи автогоста */
.keyword {
	font-family: monospace;
	color: #D48A4A;
}

/* Избежание стены текста */
.textwall {
	margin: 0.5em 2em;
	text-align: justify;
}

p.textwall {
	text-indent: 2em;
}

/* Ряд кнопок "Да" и "Нет" */
.succesCancelRow {
	display: grid;
	grid-template-columns: auto 25%;
	grid-gap: 1em;
	width: 100%;
	margin-top: 1em;
}

@keyframes slideToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(0%);
        opacity: 100%;
    }
    100% {
        transform: translateX(100%);
        opacity: 0%;
    }
}

/* Уведомления */
#notifyArea {
    position: fixed;
    top: 16px;
    z-index: 3;
    width: 33%;
    min-width: 300px;
    right: 16px;
}

.notification {
    position: relative;
    padding: 1em;
    color: white;
    margin-bottom: 16px;
    transition: 300ms;
    border-radius: 5px;
    border-width: 2px;
    border-style: dashed;
}

.notifSlideLeft {
    animation: slideToLeft 0.25s forwards;
}

.notifSlideRight {
    animation: slideToRight 0.5s forwards;
}