table {
	border: 1px solid #404040;
	box-shadow: 0px 0px 5px 5px #404040;
	border-radius: 10px;
	margin: 2em auto;
	border-collapse: collapse;
	font-size: 16pt;
}

td, th {
	padding: 0.5em;
}

tr {
	color: #ccc;
}

tr:nth-child(even) {
  background: #2B2B2B;
}
tr:nth-child(odd) {
  background: #303030;
}

.problem:nth-child(even) {
  background: linear-gradient(to right, #2B2B2B, #DC1E1E);
}
.problem:nth-child(odd) {
  background: linear-gradient(to right, #303030, #D22828);
}

.perfect:nth-child(even) {
  background: linear-gradient(to right, #2B2B2B, #A028B4);
}
.perfect:nth-child(odd) {
  background: linear-gradient(to right, #303030, #9628C8);
}